doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="stylesheet", href="/styles/events.css")
        link(rel="stylesheet", href="/styles/addEvent.css")
        title Add Event page
    body
        nav
            a.logo(href="/")
                img(src="/images/logo.png", alt="logo", width="40px")
                h2 vents
            ul.list
                li
                    a(href="/") Home
                li
                    a(href=`/posts/myEvents/${userInformation.id}`) My Events
                li 
                     a(href=`/posts/allpost`) All Events 
            .profile 
                img(src=userInformation.image, alt=userInformation.name + " Image" )
            .menu
                span.material-symbols-outlined
                    | widgets
            .close
                span.material-symbols-outlined
                    | close
        main.add 
            h1 Create Post
            form(action=`/posts/add/${userInformation.id}`, method="POST")
                .group            
                    label(for="name") Description
                    input(type="text", id="text", name="text", placeholder="Enter a description" required)
                .group
                    label(for="image") Image
                    input(type="url", id="image", name="image", placeholder="Enter image URL" required)
                button.btn(type="submit") Create

        .account 
            .container
                span.material-symbols-outlined
                    | close
                img(src=userInformation.image, alt=userInformation.name + " Image" )
                h2 Username
                    p=userInformation.name 
                h2 Email  
                    p=userInformation.email 
                h2 Password
                    p=userInformation.password 
                .btns2  
                    button(type="submit")
                        a(href="/") 
                            span.material-symbols-outlined
                                | logout
                    button(type="submit")
                        a(href="/posts/updateAccount") 
                            span.material-symbols-outlined
                                | edit         
        script(src="/scripts/script.js")
        script(src="/scripts/script2.js")             