doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/events.css")
    title Personnel Events page
  body
    nav
      a.logo(href="/")
        img(src="/images/logo.png", alt="logo", width="40px")
        h2 vents
      ul.list
        li
          a(href="/") Home
        li
          a(href="/posts/allpost") All Events
        li 
            a(href="/posts/addEvent") Add events   
      .profile 
        img(src=userInformation.image, alt=userInformation.name + " Image" )
      .menu
        span.material-symbols-outlined
            | widgets
      .close
        span.material-symbols-outlined
            | close
    main.posts
     each post , index in posts
      - if (post.postId)
        .Post
            .post
                .post-content
                    .profile 
                      img(src=userInformation.image, alt=userInformation.name + " Image" )
                      p=userInformation.name
                    img(src=post.image, alt='Post Image')
                    p=post.text
                .comment-imojis 
                    .imojis 
                        .left
                            img(src="/images/hurt.png", alt="hurt" width="30px" height="30px")
                            .reactions 
                              img(src="/images/like.png", alt="like" width="40px" height="40px" )
                              img(src="/images/adore.png", alt="adore" width="40px" height="35x")
                              img(src="/images/haha.png", alt="haha" width="30px" height="30px")
                              img(src="/images/wow.png", alt="wow" width="40px" height="30px")
                              img(src="/images/said.png", alt="said" width="40px" height="35px")
                              img(src="/images/angry.png", alt="angry" width="30px" height="30px")    
                            span.material-symbols-outlined
                                | near_me
                        .right 
                            span.material-symbols-outlined
                                | bookmark
                            span.material-symbols-outlined
                                | maps_ugc                             
                                  
            .comments 
                .title 
                  h2 Comments
                  span.material-symbols-outlined(data-post-id=post.postId)
                                | more_horiz
                .update-delete(data-post-id=post.postId) 
                  .container
                    span.material-symbols-outlined(data-post-id=post.postId)
                      | close
                    .btns2  
                      button(type="submit")
                        a(href=`/posts/updateEvent/${userInformation.id}/${post.postId}`) 
                          span.material-symbols-outlined
                                | edit
                      form(action=`/posts/delete/${userInformation.id}/${post.postId}` , method="DELETE")            
                        button.delete(type="submit", id="post-delete")
                          span.material-symbols-outlined
                              | delete               
                .comment
                  if post.comments && Array.isArray(post.comments)
                    each comment , commentId in post.comments
                          .comment-content
                            .profile 
                                img(src=comment.userImage, alt=comment.userName + " Image" )  
                                .texts
                                    p=comment.userName
                                    p=comment.comment
                            .delete-update 
                                form(id=`delete-comment-${comment.commentId}`, action=`/comments/delete/${post.postId}/${comment.commentId}`, method="DELETE")
                                  span.material-symbols-outlined
                                    | close
                                form(id=`edit-comment-${comment.commentId}`, action="/updateComment", method="post" )    
                                  span.material-symbols-outlined.edit-comment
                                    | edit 
                                form(action="/add-reaction", method="post" )     
                                  img(src="/images/add-reaction.png", alt="add-reaction" width="20px" height="20px")  
                                  .reactions2 
                                    img(src="/images/like.png", alt="like" width="40px" height="40px" )
                                    img(src="/images/adore.png", alt="adore" width="40px" height="35x")
                                    img(src="/images/haha.png", alt="haha" width="30px" height="30px")
                                    img(src="/images/wow.png", alt="wow" width="40px" height="30px")
                                    img(src="/images/said.png", alt="said" width="40px" height="35px")
                                    img(src="/images/angry.png", alt="angry" width="30px" height="30px")          

                .add-comment 
                  form(action=`/comments/add/${post.postId}`, method="post")
                    input(type="text" name="comment" placeholder="Add comment...")
                    button.add(type="submit") Add

    .account 
      .container
          span.material-symbols-outlined
            | close
          img(src=userInformation.image, alt="user image")
          h2 Username
            p=userInformation.name 
          h2 Email  
            p=userInformation.email 
          h2 Password
            p=userInformation.password 
          .btns2  
            button(type="submit")
              a(href="/") 
                span.material-symbols-outlined
                                | logout
            button(type="submit")
              a(href="/updateAccount") 
                span.material-symbols-outlined
                                | edit 

    
    

  

    script(src="/scripts/script.js")
    script(src="/scripts/script2.js")
